{% extends 'base.html' %}

{% block content %}
<style>
   .add {
      background-color: blue;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
   
   
    }

</style>




<table class='table table-borderless'>
  <thead class='border-bottom font-weight-bold'>
   <tr>
      <td >full Name</td>
      <td>Mobile</td>
      <td>position</td>
      <td></td>


   </tr>
  </thead>
  <tbody>
    
   <a  href="{%url 'employee_insert' %} "  class="add" >  <button>ADD ITEM</button></a>
   
   {%for emply in employee_list  %}
   <tr>
  <td> {{emply.fullname}}  </td>
  <td> {{emply.mobile}} </td>
  <td> {{emply.position}}</td>
  <td>
   
   <a  href="{% url 'employee_update' emply.id  %}"  >  <button>Edit</button></a>
 

      <a  href="{% url 'employee_delete' emply.id %}">  <button>Delete</button></a>
 
  
 
  </td>


   </tr>


   {%endfor%}
  </tbody>

</table>
   
   {% endblock  %}
