{% extends 'base.html' %}

{% block content %}
<style>
  button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
  }

  a button {
    background-color: #FF0000; 
   
    color: white;
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
</style>

<form method="post">
  {% csrf_token %}
  {{ form }} <br>
  <button>Submit</button> 
  <a href="{% url 'employe_list' %}">
    <button>Back to list</button>
  </a>
</form>
{% endblock %}

