{% extends 'base.html' %}

{% block content %}
<table class='table table-borderless'>
  <thead class='border-bottom font-weight-bold'>
   <tr>
      <td>full Name</td>
      <td>Mobile</td>
      <td>position</td>
      <td></td>


   </tr>
  </thead>
  <tbody>
   {%for emply in employee_list  %}
   <tr>
  <td> {{emply.fullname}}  </td>
  <td> {{emply.mobile}} </td>
  <td> {{emply.position}}</td>
  <td>
   
   <a  href="{% url 'employee_update' emply.id  %}"  >  <button>Edit</button></a>
   <a  href="">  <button>Delete</button></a>
 
  </td>


   </tr>


   {%endfor%}
  </tbody>

</table>
   
   {% endblock  %}
