{% extends 'base.html' %}

{% block content %}
<style>
.add{
   background-color:pink;
   color:blue;
   font-weight:bold;
   padding: 5px 50px;
}
    .edit{
   
      background-color:#75FF33;
      padding: 5px 40px;
      border: none;
      font-weight:bold;
     
    }
   
    .del{
      background-color:#FF0000;
      color:white;
      padding: 5px 40px;
      border: none;
      font-weight:bold; 
    }

    
</style>




<table class='table table-borderless'>
  <thead class='border-bottom font-weight-bold'>
   <tr>
      <td >full Name</td>
      <td>Mobile</td>
      <td>position</td>
      
  
      <a  href="{%url 'employee_insert' %} "  style='margin-left:570px;'>  <button  class="add">ADD NEW</button></a>
      <td>
        
      </td>


   </tr>
  </thead>
  <tbody>
    
   
   
   {%for emply in employee_list  %}

   <tr>
  <td> {{emply.fullname}}  </td>
  <td> {{emply.mobile}} </td>
  <td> {{emply.position}}</td>

  <td>

   
   <a  href="{% url 'employee_update' emply.id  %}"  >  <button  class='edit'>EDIT</button></a>
   
 

      <a  href="{% url 'employee_delete' emply.id %}">  <button class='del'  >Delete</button></a>
 
  
 
  </td>


   </tr>


   {%endfor%}
  </tbody>

</table>
   
   {% endblock  %}
