{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
  }

  a button {
    background-color: #FF0000; 
   
    color: white;
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  .back{
   margin-top:20px


  }
</style> 

<form method="post">
  {% csrf_token %}
  {{ form|crispy }} <br>
  <button>Submit</button> 
  
</form>
<a href="{% url 'employe_list' %}">
  <button class='back' >Back to list</button>
</a>
{% endblock %}

 